## Data Extraction using API

We will be importing 3 libraries as:<br>
<li>pandas for dataframe creation.
<li>requests for geting the web page details and 
<li>json for the operations for json formats

In [1]:
# Import necessary libraries
import pandas as pd
import requests
import json

Now we are provided with the url of the all the pages in the API hense we will specify the starting url.

In [2]:
url = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1"

Next one is a bit complex.<br>
First for loop is for the extraction from 10 separate pages.<br>
So the second for loop is to loop through all the movie to get our required data.<br>
various varuiabels are used as:<br>
<li>list_for_dataframe = Dataframe 2D array.
<li>present_url = url for the loop.
<li>required = list for the rows in a dataframe

In [3]:
list_for_dataframe = []
for i in range(1,11):
    present_url = url + str(i)
    JSONContent = requests.get(url).json()
    for details in JSONContent['results']:
        required = []
        required.append(details["id"])
        required.append(details["title"])
        required.append(details["overview"])
        required.append(details["release_date"])
        required.append(details["popularity"])
        required.append(details["vote_average"])
        list_for_dataframe.append(required)

So now we will be declearing the names of the columns of the dataframe.

In [4]:
index = ["ID","Title","Overview","Release_Date","Popularity","Average_Vote"]

Now lets create the dataframe

In [5]:
data = pd.DataFrame(list_for_dataframe,columns=index)
data.head()

,ID,Title,Overview,Release_Date,Popularity,Average_Vote
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,17.671,8.9
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,34.026,8.7
2,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-10-11,44.232,8.7
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-15,30.291,8.6
4,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2017-04-07,27.341,8.6

In [6]:
data.columns=index

In [7]:
data.head()

,ID,Title,Overview,Release_Date,Popularity,Average_Vote
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,17.671,8.9
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,34.026,8.7
2,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-10-11,44.232,8.7
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-15,30.291,8.6
4,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2017-04-07,27.341,8.6

In [8]:

def DataFrame_to_csv():     #csv file will be saved in the same place as of the code.
    name = input("Enter the name that you wantto give to the csv file. If no input is given the csv file will take a name as \"movie_details.csv\" ")
    if(name==""):
        print("Your File Name is :-","movie_details.csv")
        data.to_csv("top_250_IMDb_movies.csv")
    elif(name[-4:] == ".csv"):
        print("Your File Name is :-",name)
        data.to_csv(name)
    else:
        print("Your File Name is :-",(name+".csv"))
        data.to_csv(name+".csv")

In [9]:
DataFrame_to_csv()

Enter the name that you wantto give to the csv file. If no input is given the csv file will take a name as "movie_details.csv"
Your File Name is :- movie_details.csv

In [10]:
DataFrame_to_csv()

Enter the name that you wantto give to the csv file. If no input is given the csv file will take a name as "movie_details.csv" movie_name
Your File Name is :- movie_name.csv

In [11]:
DataFrame_to_csv()

Enter the name that you wantto give to the csv file. If no input is given the csv file will take a name as "movie_details.csv" This csv file is Created by the this program itself.csv
Your File Name is :- This csv file is Created by the this program itself.csv

In [12]:
from datetime import datetime

In [13]:
print(datetime.now())

2019-08-25 00:23:48.529793

# Created by: Md Shakib Mondal<br>
## Email : - sakibmondal7@gmail.com